body {
  font-family: Arial, sans-serif;
  background-color: #303841;
  margin: 0; 
}

.containerCreatePorudzbina {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #D6E6F2;
  box-sizing: border-box; 
  position: relative;
}

.containerCreatePorudzbina h2 {
  text-align: center;
  margin-top: 0; 
}

.containerCreatePorudzbina .form-group {
  margin-bottom: 15px;
}

.containerCreatePorudzbina label {
  display: block;
  font-weight: bold;
}

.containerCreatePorudzbina input[type="text"],
.containerCreatePorudzbina input[type="password"],
.containerCreatePorudzbina input[type="date"],
.containerCreatePorudzbina select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

#buttonCP {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

#buttonCP:hover {
  background-color: #45a049;
}


#korpaButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  background-color:#89CFF0;
}

#freeCarTable {
  width: 100%;
  margin: 30px auto;
}

#freeVozilaTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #003671;
}

#freeVozilaTable th {
  background-color: #5497c8;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  border: 1px solid black;
  border-bottom: none;
}

#freeVozilaTable th:last-child {
  border-right: 1px solid black;
}

#freeVozilaTable td {
  text-align: center;
  padding: 8px;
  border: 1px solid #003671;
  background-color: #D6E6F2;
}

#slika-image-cp {
  width: 150px;
  height: 75px;
}

#innerButtonCP {
  height: 35px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#innerButtonCP:hover {
  background-color: #45a049;
}